@import "../helpers/variables";

header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: $test_padding;

  .main-logo {
    width: $main_logo_width;
    height: 56px;
    cursor: pointer;

    &.mobile {
      display: none;
    }
  }

  h1 {
    position: relative;

    width: 100%;
    padding: 0 30px;
    margin: 0 34px;

    font-family: $main_fonts;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: $light_yellow;

    @mixin header_lines() {
      position: absolute;
      top: 22px;
      opacity: 0.3;
      content: "";

      width: calc((100% - 240px) / 2);

      border: 2px solid #FEFFD3;
    }

    &:before {
      @include header_lines();
      left: 0;
    }

    &:after {
      @include header_lines();
      right: 0;
    }
  }

  .burger-menu {
    width: 170px;
    height: 51px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    padding: 16px 16px 8px;

    h1 {
      font-size: 22px;
      padding: 0 10px;
      margin: 0 12px;

      &:before {
        top: 19px;
        width: calc((100% - 133px) / 2);
      }

      &:after {
        top: 19px;
        width: calc((100% - 133px) / 2);
      }
    }

    .burger-menu {
      width: 50px;
    }
  }

  @media (max-width: 520px) {
    flex-wrap: wrap;
    height: auto;
    background-color: #221A1A;

    .burger-menu {
      max-width: 53px;
      padding-right: 20%;
      order: 1;
    }

    .main-logo {
      display: none;
      order: 2;

      &.mobile {
        display: block;
      }
    }

    h1 {
      order: 2;

      width: 100%;
      padding: 0;
      margin: 0;

      text-align: left;

      &:before, &:after {
        content: none;
      }
    }
  }
}