@import "helpers/_reset";
@import "common/fonts/index";
@import "pages/main";
@import "pages/facts";

body {
  margin: 0;

  .main-section {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background: black no-repeat;
    background-size: 100% 108%;
    background-position-y: -75px;

    .main-body {
      display: flex;
      flex-direction: column;

      max-width: 1240px;
      margin: auto;
    }
  }
}
